.form-control-title {
  font-size: 2rem;
  font-weight: 500;
}

.form-group {
  position: relative;
}

.form-group input,
.form-group textarea {
  position: relative;
  z-index: 2;
}

.input-dark {
  background-color: #444;
  border-color: transparent;
  color: #fff;
}

.input-dark:focus {
  color: #fff;
  background-color: #555;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-dark::-webkit-input-placeholder {
  color: #888;
}
.input-dark::-moz-placeholder {
  color: #888;
}
.input-dark:-ms-input-placeholder {
  color: #888;
}
.input-dark:-moz-placeholder {
  color: #888;
}

@media (min-width: 768px) {
  .input-dark {
    width: auto;
  }
}

textarea.tall-textarea {
  height: 160px;
}

@media (min-width: 768px) {
  textarea.tall-textarea {
    height: 320px;
  }
}
